/* Colores personalizados */
.bg-pink {
  background-color: #B9205B !important; /*Color del titulo*/
}

.text-pink {
  color: #B9205B !important;
}

/* Efecto al pasar el mouse sobre secciones */
section:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
}

/* Tipografía y fondo general */
body {
  font-family: 'Arial', sans-serif;
  background-color: #B9205B;
  color: #333;
  cursor: url('../resources/estrella.png'), auto;

}


/* Imagen del creador - más pequeña */
.creator-img {
  max-width: 150px;
  width: 100%;
  height: 220px;
}

/* Enlaces */
a:hover {
  color: #000 !important;
  border-bottom: 2px solid white;
}


.carrusel-container {
    overflow: hidden;
    width: 100%;
    height: 200px;
    padding: 2rem 0;
    margin-top: 30px;
    margin-bottom: 30px;
}

.carrusel {
    display: flex;
    gap: 1rem;
    animation: scroll 20s linear infinite;
    width: max-content;
}

.carrusel img {
    height: 160px;
    width: 220px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.214);
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}


footer p {
  text-align: center;
  margin: 5px;
}


