/* Colores personalizados */
.bg-pink {
  background-color: #B9205B !important; /*Color del titulo*/
}

.text-pink {
  color: #ff66b2 !important;
}

/* Efecto al pasar el mouse sobre secciones */
section:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
}

/* Tipografía y fondo general */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f3c2fe;
  color: #333;
  margin: 20px;
}

/* Imagen del creador - más pequeña */
.creator-img {
  max-width: 180px;
  width: 100%;
  height: 200px;
}

/* Enlaces */
a:hover {
  color: #000 !important;
  border-bottom: 2px solid white;
}
